[submodule "vendor/librw"]
	path = vendor/librw
	url = git@github.com:Takuhatsu/librw.git
	branch = master
[submodule "vendor/ogg"]
	path = vendor/ogg
	url = git@github.com:Takuhatsu/ogg.git
[submodule "vendor/opus"]
	path = vendor/opus
	url = git@github.com:Takuhatsu/opus.git
[submodule "vendor/opusfile"]
	path = vendor/opusfile
	url = git@github.com:Takuhatsu/opusfile.git
